/* h1{
    background-color:aquamarine;
} */
body{
    background-color: rgb(100, 150, 200);
}
span{
    color: blueviolet;
}
.배고파{
    color: rgb(100, 150, 200);
}
.배고프다고{
    color: aquamarine;
}